.section_title {
    background: url("./img/la-chouette-agence-banniere-1920x785.webp");
    background-repeat: no-repeat;
    //  background: url("../img/la-chouette-agence-banniere.jpg"), no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom 33vh right 0px;
    min-height: 32vmax;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:45px;//- header
    font-size: $font-size-title;
    color: $second-color;
    filter: contrast(1.1) brightness(1.5);

    @include tablette {
        background-attachment: scroll;
        background-position: center;
        min-height: 40vmax;
        margin-top:35px;
    }

&_card{
    padding:15px;
    background-color: white;
    border-radius: 0.5em;
    box-shadow: 1px 1px 20px -10px rgb(49, 49, 49);

    h1 {

        display: flex;
        flex-direction: column;
        align-items: center;
        color: black;
        font-size: $font-size-title;

        img {
            width: 40%;
            height: auto;
        }
    }
}
   
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $main-color;
        mix-blend-mode: hue;
    }
}

// section presentation

.section_presentation {
    display: flex;
    flex-direction: column;

    text-align: center;
    @include margin-screen;

    @include small-screen {
        @include margin-tablette;
    }

    @include mobile {
        @include margin-mobile
    }

    &_title {
        font-size: $font-size-title;
        color: $second-color;
    }

    &_categories {
        display: flex;
        justify-content: space-between;
        margin-bottom:45px ;
        font-size: $font-size-subtitle;
        @include mobile {
            flex-direction: column-reverse;
            align-items: center;
        }

    }

    &_quote_text {
        width: 70%;
        margin: 2vw auto auto auto;
        font-size: $font-size-quote;
        @include mobile {
            width: 100%;
        }
    }

    &_quote_caption {
        font-size: $font-size-standart;
        margin-top: 15px;

    }
}

.section_presentation_categories_strategie,
.section_presentation_categories_webdesign,
.section_presentation_categories_illustrations {
    width: 30%;
    @include mobile {
        width: 90%;
    }

    &_icone {
        font-size: 6rem;
        color: $second-color;
        margin-bottom: 30px;
        margin-top: 30px;

    }

    &_title {
        font-size: $font-size-subtitle;
        text-transform: uppercase;
        margin-bottom:10px;
    }

    &_text {
        font-size: $font-size-standart;
        text-align: left;
    }

}

// section texte

.section_text {
    //border-top: 4px solid black;
    box-shadow: 1px 1px 20px -10px rgb(73, 73, 73);
    background-color: $main-color;

    &_img {
        background: url("./img/creativity1920x1080.webp") no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;

        @include tablette {
            background-attachment: scroll;
        }

        height: 25vmax;
        position: relative;
        filter: contrast(0.9) brightness(1.1);
        margin-bottom: $vertical-margin;
        

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: $main-color;
            mix-blend-mode: hue;
        }
    }


    &_main {
        font-size: $font-size-quote;
        padding: 10px 25vw $vertical-margin 25vw;
    

        @include small-screen {
            padding: 0 10vw  30px 10vw;
        }
        @include mobile {
            padding: 0 5vw  30px 5vw;
        }


        &_indentation {
            padding: 45px;

        }
    }
}


//section projets 

.section_project {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @include margin-screen;
   


    @include small-screen {
        @include margin-tablette;
    }

    @include mobile {
        @include margin-mobile
    }


    &_title {
        text-align: center;
        font-size: $font-size-title;
        color: $second-color;

    }

    &_name {
        font-size: $font-size-subtitle;
        text-align: center;
        margin-bottom: 15px;

    }

    &_text {
        font-size: $font-size-standart;
        margin-top: 15px;

    }

    &_figure {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    figure {
        margin: 3vw;
        width: 18vw;// size image

        @include small-screen {
            margin: 5vw;
            width: 30vw;

        }

        @include mobile {
            margin: 3vw;
            width: 100%;

        }

        img {
            width: 100%;
            height: auto;
        }

    }
}