body {
    font-family: 'Lato', sans-serif;
    font-size: 62.5%; //10px
}

// fonts
$font-size-title: 2.6rem;
$font-size-standart: 1.4rem;
$font-size-quote: 1.8rem;
$font-size-subtitle: 1.7rem;
$font-size-contact: 1.6rem;